# @format

name: Build and Deploy

on:
    push:
        branches: [main]

jobs:
    build-and-deploy:
        runs-on: self-hosted
        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Write .env file from secret
              run: echo "${{ secrets.ENV_CONTENT }}" > .env
              working-directory: ${{ github.workspace }}

            - name: Setup Rust
              uses: actions-rs/toolchain@v1
              with:
                  toolchain: stable
                  override: true

            - name: Cache dependencies
              uses: actions/cache@v3
              with:
                  path: |
                      ~/.cargo/registry
                      ~/.cargo/git
                      target
                  key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

            - name: Run tests
              run: cargo test
              working-directory: ${{ github.workspace }}

            - name: Build release binary
              run: cargo build --release
              working-directory: ${{ github.workspace }}

            - name: Stop insigniames service
              run: sudo systemctl stop insigniames

            - name: Move new binary and .env to deployment directory
              run: |
                  mkdir -p /home/insigniames/target/release
                  cp ${{ github.workspace }}/target/release/insigniames /home/insigniames/target/release/insigniames
                  cp ${{ github.workspace }}/.env /home/insigniames/target/release/.env
                  chmod +x /home/insigniames/target/release/insigniames

            - name: Restart insigniames service
              run: |
                  sudo systemctl restart insigniames
                  echo "Deployment complete!"
